<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.plea.testApp.mapper.MemberMapper">

    <insert id="saveMember" useGeneratedKeys="true">
        INSERT INTO Member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="hobby != null">
                hobby,
            </if>
        </trim>
        VALUES(#{name}, #{age}, #{hobby})
    </insert>

    <select id="findMember" resultType="kr.plea.testApp.entity.Member">
        select * from Member m WHERE m.id =#{id}
    </select>

    <update id="updateMember">
        UPDATE Member m
        <set>
            <if test="name != null">
                m.name = #{name},
            </if>
            <if test="age != null">
                m.age = #{age},
            </if>
            <if test="hobby != null">
                m.hobby = #{hobby},
            </if>
        </set>
        WHERE m.id = #{id}
    </update>

    <delete id="deleteMember">
        DELETE FROM Member m
        WHERE m.id = #{id}
    </delete>

    <select id="findAll" resultType="hashmap">
        SELECT m.name,m.age,m.hobby
        FROM Member m
    </select>

    <select id="countMembers" resultType="int">
        select count(*) from Member
    </select>

    <select id="findMembersPage" resultType="hashmap">
        SELECT m.name,m.age,m.hobby
        FROM Member m
        ORDER BY m.name
        LIMIT #{size}
        OFFSET #{offset}
    </select>
</mapper>